<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">  
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="icon" href="/s/images/regist-icon.png" type="image/x-icon" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/s/css/regist.css">
</head>

<body>

    <div class="container container-fiuled" >
        <div class="row clearfix">
            <div class="col-md-12 column">
                <br>


                <h4 id="nickname" style="color:white ">  &nbsp;</h4>
            </div>
        </div>
        


        <div class="row clearfix">
            <div id="parentDiv" class="" >
                <div class="panel " style="margin: 0 auto !important;width:375px">
                  

                    <div style="text-align:center; font-size:80px; color:deepskyblue;font-family:  Wawati SC !important" >注册</div>
                    <div style="margin:0 auto">
                                                                    <!-- 注册表单 -->
                                            <form role="form" style="margin:0 50px 0 50px !important" id="registForm">
                                                    <div class="form-group">
                                                         <label for="exampleInputEmail1" style="opacity: 0.5 !important;">邮箱 </label>
                                                         <input name="email" required type="email" class="form-control " id="exampleInputEmail1" />

                                                         
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1" style="opacity: 0.5 !important;">密码</label>
                                                        <input name="password" required type="password" class="form-control" id="exampleInputPassword1" />
                                                    </div>

                                                    <div class="form-group">
                                                         <label for="exampleInputNickname1" style="opacity: 0.5 !important;">昵称 </label>
                                                         <input name="nickname" required type="nickname" class="form-control " id="exampleInputNickname1" />

                                                         
                                                    </div>
                                                            
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputCode1" style="opacity: 0.5 !important; !important">邮箱验证码</label>
                                                        <input name="code" required type="code" class="form-control" id="exampleInputCode1" />

                                                    </div>
                                                
                                                     <button id="button_regist" class="btn btn-default" style="color:rgb(127, 187, 255)">注册</button> 
                                                     <a id="code" href="#" style="float:right;margin-top:8px">发送邮箱验证码</a>
                                                     <a id='countdown' style="float:right;margin-top:8px"></a>
                                                     <div style="height:70px"></div>
                                                </form>
                                                <!-- 注册表单 -->
                    </div>


                </div>


            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-xs-12">
                    <!-- 注册弹窗 -->
<!--                     <div class="modal fade" id="modal-container-523565" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="height:580px !important">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                                    </div>
                                    <div style="text-align:center; font-size:80px; color:deepskyblue;font-family:  Wawati SC !important" >注册</div>
                                    
                                    <div style="margin:0 27px 0 27px;">

                                                
                                    </div>

                                </div>
                                
                            </div>
                            
                    </div> -->
                      <!-- 注册弹窗结束   -->
                <div style="text-align:center" class="navbar-fixed-bottom">

                        <a id="modal-523565" href="/login" role="button" class="btn" data-toggle="modal"><img id="edit-icon" class="img-circle"width=" 80px" height="80px" src="/s/images/Power_Switch_User.png" /></a>

                </div>
                </div>
            </div>
        </div>


        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- 重要两条 -->
        <link rel="stylesheet" href="/s/css/bootstrapValidator.css"/>
        <script type="text/javascript" src="/s/js/bootstrapValidator.js"></script>
        <!-- 重要两条 -->
        <script type="text/javascript" src="/s/js/regist.js"></script>
</body>

</html>