body {
            background-color: rgb(127, 187, 255);
             background: url("/s/images/bg2.jpg") no-repeat;
            height:100%;
            width:100%;
            overflow: hidden !important;
            background-size:100% !important; 
            margin:0;
        }
        button{
        outline:none!important;

        }
        .panel {
            width: 210x !important;
            margin: 20px !important;
        }

        #edit-icon {
            opacity: 0.5 !important;
        }

        #edit-icon:hover {

            opacity: 2 !important;
        }

        .glyphicon-trash {
            opacity: 0.8 !important;
        }

        .glyphicon-trash:hover {
            opacity: 1 !important;
        }